@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@font-face {
    font-family: 'Abhaya Libre SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/AbhayaLibre-SemiBold.ttf');
}